svg.cube .block > *{
  fill:black;
  animation: anim-cube-grid 1.5s ease-in-out infinite;
}
svg.cube .block-1{
  transform-origin:16px 16px;
  animation-delay: -0.2s;
}
svg.cube .block-2{
  transform-origin:48px 16px;
  animation-delay: -0.1s;
}
svg.cube .block-3{
  transform-origin:80px 16px;
  animation-delay: -0.0s;
}
svg.cube .block-4{
  transform-origin:16px 48px;
  animation-delay: -0.3s;
}
svg.cube .block-5{
  transform-origin:48px 48px;
  animation-delay: -0.2s;
}
svg.cube .block-6{
  transform-origin:80px 48px;
  animation-delay: -0.1s;
}
svg.cube .block-7{
  transform-origin:16px 80px;
  animation-delay: -0.4s;
}
svg.cube .block-8{
  transform-origin:48px 80px;
  animation-delay: -0.3s;
}
svg.cube .block-9{
  transform-origin:80px 80px;
  animation-delay: -0.2s;
}

@keyframes anim-cube-grid{
  0%   {transform:scale(1.0);}
  25%  {transform:scale(0.0);}
  50%  {transform:scale(1.0);}
  100% {transform:scale(1.0);}
}



svg path,
svg rect{
  fill: black;
}

.animated {
  -webkit-animation-duration: 100ms;
  animation-duration: 100ms;
  -webkit-animation-duration: var(--animate-duration);
  animation-duration: var(--animate-duration);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@media (prefers-reduced-motion: reduce) {
  .animated {
    -webkit-animation-duration: 100ms !important;
    animation-duration: 100ms !important;
    -webkit-transition-duration: 100ms !important;
    transition-duration: 100ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
  }

  .animated[class*="Out"] {
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
